@model IEnumerable<Catechize.Model.Course>

@{
    ViewBag.Title = "ListAllCourses";
}

<h2>Courses</h2>

<p>
    @LinkTo.NewCourse()
</p>
<table>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            IsEnabled
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="@(item.IsEnabled ? "" : "disabled")">
        <td>
            @LinkTo.ViewCourse(item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnabled)
        </td>
    </tr>
}

</table>
