@{
    ViewBag.Title = "GravatarTest";
}

<h2>GravatarTest</h2>

@Html.Gravatar("justin.william.wishart@gmail.com")

@Html.Gravatar("justin.william.wishart@gmail.com", 10)
@Html.Gravatar("JUSTIN.WILLIAM.WISHART@GMAIL.COM", 20)
@Html.Gravatar("justin.william.wishart@gmail.com  ", 30)
@Html.Gravatar("  justin.william.wishart@gmail.com", 40)
@Html.Gravatar("  justin.william.wishart@gmail.com  ", 50)

@Html.Gravatar("  example@example.com  ", 50)
@Html.Gravatar("  example@example.com  ", 50, "http://www.twitterbuttons.com/upload/images/19ca38bec0nt1.png")

<br />Following 1 Item should show missing image placehold. Rest should show standards<br />
@Html.Gravatar("  example@example.com  ", 50, GravatarDefault.FileNotFound)
@Html.Gravatar("  example@example.com  ", 50, GravatarDefault.Identicon)
@Html.Gravatar("  example@example.com  ", 50, GravatarDefault.MonsterID)
@Html.Gravatar("  example@example.com  ", 50, GravatarDefault.MysteryMan)
@Html.Gravatar("  example@example.com  ", 50, GravatarDefault.Retro)
@Html.Gravatar("  example@example.com  ", 50, GravatarDefault.Wavatar)